@import url(reset.css);
@import url(variable.css);
@import url(nav.css);
@import url(footer.css);

@font-face {
    font-family: 'space_grotesklight';
    src: url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
         url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**********   CSS General   **********/

html, body{
    font-size: 16px;
    font-family: var(--font-family);
}

/**************  CSS Main *************/

.main{
    padding: 64px;
    position: relative;
}

/************  Dropdown menu  ***********/

.Dropdown__menu li{
    width: 180px;
}

.Dropdown__menu li a:link, .Dropdown__menu a:visited{
    display: block;
    color: #000000;
    background: #fff;
    opacity: 0.60;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    text-overflow: clip;
    line-height: 1rem;
}

.Dropdown__menu a:hover{
    background-color: #bdb6b6;
}

.Dropdown__menu a :active{
    background-color: #808080;
}

.Dropdown__menu{
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.link__chambre:hover .Dropdown__menu{
    display: block;
}



/*****************     Dropdowmenu    ***************/

.chambre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    margin-bottom: 64px;
}

.chambre__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: var(--spacing-md);
}

.chambre__content__caracteristique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--spacing-md);
}

.chambre__picture__item{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: var(--spacing-md);
}

.chambre__title{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-xl);
    margin-bottom: var(--spacing-xl);
}

.btn{
    background: var(--bg-btn);
    color: var(--text-color-primary-white);
    text-decoration: none;
    padding: var(--spacing-xs);
    width: 100px;
    text-align: center;
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-xl);
}

.chambre__price{
    font-size: var(--font-size-lg);
    color: rgb(63, 63, 63);
    font-weight: var(--font-weight-xl);
}

.picture__slider{
    border-radius: var(--radius-md);
}

.chambres__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-xl);
}

.chambre__picture{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
}

.chambre__card__link{
    text-decoration: none;
    color: var(--text-color-primary-dark);
}

.chambre__card{
    position: relative;
}

.chambre__card__title{
    color: var(--text-color-primary-dark);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-xl);
    margin-bottom: var(--spacing-md);
}

.chambre__card__content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--spacing-md) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(203, 192, 192, 0.4);
    width: 100%;
}

/********************   Back to top   ***********/


:root{
    scroll-behavior: smooth;
}

.section{
    padding-bottom: 5rem;
}

.scroll-top{
    position: absolute; /* relative to its positioned <main> parent */
    top: 120vh; /* starts below the bottom of the screen */
    bottom: 3rem; /* stops scrolling before the end */
    right: 1rem; /* offset from right hand side */
}

.scroll-top__link{
    position: -webkit-sticky; /* for Safari */
    position: sticky; /* 'relative' until element reaches... */
    top: 85vh; /* 90% viewport height from the top, when it becomes 'fixed' - until its container toggles it back to 'relative' */
    text-decoration:none;
    border-radius: .25rem;
    background-color: gray;
    padding:1rem;
    color: white;
    font-weight:700;
    opacity:0.8;
    font-size: xx-large;
}

.scroll-top__link:hover{
    opacity: initial;
}

/********************   Back to top   ***********/

.footer{
    height: 300px;
}

.slider{
    margin-bottom: 64px;
}

/*   MEDIA QUERIES  */

@media screen and (max-width: 1024px) {
    .chambres__content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 300px;
        row-gap: 2rem;
    }

    .chambre__card:last-child{
        grid-column: 1 / 3;
    }

    .chambre__picture{
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {


    /* On positionne le logo et la nav en colonne, le logo se trouve au dessus de la nav */
    .header__nav{
        padding: 1rem;
        flex-direction: column;

    }

    .link__logo{
        margin-bottom: 1rem;
    }

    /* On positionne en colonne tout les liens de la nav et on aligne au centre horizontalement */
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
    }

    .nav__link{
        margin-left: 0;
    }

    /* On positionne en colonne les sections chambre */
    .chambre{
        grid-template-columns: 1fr;
    }

    .main{
        padding: 32px 1rem;
    }

    .chambre__picture__item{
        height: 300px;
        margin-bottom: 1rem;
    }

    .picture__caracteristiques{
        order: 1;
    }

    .chambre__content__caracteristique{
        order: 2;
    }

    .footer{
        height: 100%;
        flex-direction: column;
        padding: 32px 0;
    }

    .footer__content{
        width: 100%;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .footer__content:last-child{
        margin-bottom: 0;
    }

    .footer__nav{
        align-items: center;
    }

    .footer__phone, .footer__email{
        text-align: center;
    }

}
