:root {
    --font-family: 'space_grotesklight';

    --body-font-size: 16px;
    --max-width-content:1055px;
    --max-height-header: 700px;
    --max-width-logo: 100px;
    --min-height-nav: 70px;
    --max-height-footer: 200px;

    --spacing-default: 0.5rem;
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.625rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.25rem;
    --spacing-check: 1.625rem;

    --font-size-h1: 3rem;

    --font-size-xs:	0.75rem;
    --font-size-sm:	0.875rem;
    --font-size-md:	1rem;
    --font-size-lg:	1.125rem;
    --font-size-xl:	1.25rem;
    --font-size-subtitle: 1.5rem;

    --line-height-xs: 1.4;
    --line-height-sm: 1.45;
    --line-height-md: 1.55;
    --line-height-lg: 1.6;
    --line-height-xl: 1.65;

    --font-weight-xs: 300; 
    --font-weight-sm: 400; 
    --font-weight-md: 500; 
    --font-weight-lg: 600; 
    --font-weight-xl: 700; 

    --radius-default: 1.5rem;
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl-light: 1rem;
    --radius-xl: 1.25rem;
    --radius-xxl: 2rem;

    --text-color-primary-white: #fff;
    --text-color-primary-dark: #000000;
    --bg-btn:#888888;
    --bg-footer:#4A4A4A;

}