@import url(../02-selecteurs-heritage/heritage/reset.css);

.back__link{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #366699;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.back__link:hover{
    background-color: #0056b3;
}

html, body{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.container{
    width: 1000px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;

}

.header{
    background-color: #000 url(banner-html.jpg) no-repat;
    background-size: cover;
    min-height: 400px;

}